# -----------------------------
# Python Virtual Environments
# -----------------------------
venv/
.venv/
env/

# -----------------------------
# Python Cache
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Environment Variables
# -----------------------------
.env

# -----------------------------
# OS Files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Raw Dataset
# (Download separately from Kaggle)
# -----------------------------
data/raw/*.csv
!data/raw/.gitkeep

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp

# -----------------------------
# Power BI Temporary Files
# -----------------------------
powerbi/*.tmp